body,div,span,p,img,ul,li,a{
    margin: 0px;
}
a {
    color: #333;
    text-decoration: none;
    outline: 0;
}
li{
    list-style: none;
}
input, label, img, th, select {
    vertical-align: middle;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
button {
    outline: none;
    border: none;
}