/*头部导航栏样式开始*/
.wrap-box{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 0;
}
.wrap-box a{
    display: inline-block;
}
.logo-header{
    width: 92px;
    height: auto;
    margin-top: 15px;
    float: left;
}
.wrap{
    width: 100%;
    height: 72px;
    box-shadow: 0 2px 16px 0 rgba(220,220,220,.5);
}
.location-header,.recommend-header{
    height: 72px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
.location-header-img{
    width: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
}
.location-header-box,.recommend-header-box,.right-header-box{
    margin-right: 15px;
    margin-top: 26px;
    display: inline-block;
}
.location-header span{
    font-size: 16px;
    color: #2D2D2D;
    display: inline-block;
    vertical-align: middle;
}
.recommend-header-a{
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-right: 18px;
    overflow: hidden;
}
.recommend-header-a:hover,.right-header-box span:hover,.category-info:hover{
    color: red;
}
.right-header-box span{
    font-size: 16px;
    color: #2D2D2D;
    display: inline-block;
    vertical-align: middle;
}
.right-header-img{
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
}
.right-header{
    height: 72px;
    vertical-align: top;
    display: inline-block;
    float: right;
}
.search-header{
    width: 401px;
    height: 46px;
    margin-top: 12px;
    margin-right: 20px;
    line-height: 46px;
    float: right;
    position: relative;
}
.search-header-img{
    width: 17px;
    z-index: 33;
    position: absolute;
    left: 22px;
    top: 15px;
}
.search-header-input{
    width: 253px;
    height: 44px;
    z-index: 10;
    font-size: 16px;
    padding: 0 10px 0 54px;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    border-right-color: #ffda44;
    box-sizing: content-box;
    position: absolute;
}
.search-header-input:focus{
    outline:none;
    border-color: #ffd529;
}
.search-header-button{
    width: 82px;
    height: 100%;
    background: #ffda44;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 0 27px 27px 0;
    z-index: 11;
    letter-spacing: 4px;
    cursor: pointer;
    position: absolute;
    left: 253px;
}
/*头部导航栏样式开始*/
/*尾部导航栏样式开始*/
.footer{
    background-color: #a5a49f;
    width: 100%;
    height: 40px;
}
.footer-container{
    text-align: center;
    height: 100%;
    width: 1100px;
    margin: auto;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    text-align: center;
}
.footer-links-list{
    float: left;
    font-size: 13px;
    color: #111;
}
.footer-links-list a{
    color: #000;
}
.footer__links__grep {
    float: left;
    padding: 0 24px;
}
.footer-a{
    margin: auto;
    text-align: center;
}
.footer-a a{
    display: inline-block;
}
.footer-links a:hover{
    color: red;
}
.main-container{
    margin-bottom: 30px;
}
/*尾部导航栏样式结束*/